div.single-boredom
    table.pure-table
        tbody
            tr
                td Activity
                td= activity
            tr
                td Type
                td= type
            tr
                td Participants
                td= participants
            tr
                td Price
                td= price
            tr
                td Accessibility
                td= accessibility
